<div id="content">
    <aside class="mat-elevation-z2">
        <app-trip-filter
            #tripFilter
            [tripsProvider]="tripsProvider"
            (onFilterChanged)="calcPriceBounds()">
        </app-trip-filter>
    </aside>

    <main>
        <h1 class="tripsNotFound" *ngIf="tripFilter!.get().length == 0">Brak wyników</h1>

        <mat-card
            class="mat-elevation-z5"
            *ngFor="let trip of tripFilter!.get()"
            [style.background-color]="getAvailableAmount(trip) > 3 ? '' : '#212121'"
            [ngClass]="trip.id == mostExpensiveId ? 'mostExpensiveTrip' : (trip.id == leastExpensiveId ? 'leastExpensiveTrip' : '')">

            <picture (click)="showTripInfo(trip)">
                <img [src]="trip.img" alt="big">
            </picture>

            <section>
                <header>
                    <h1>{{ trip.name | uppercase }}</h1>
                    <p>{{ trip.country | uppercase }}</p>
                    <p>{{ getDateStr(trip.startDate) }} - {{ getDateStr(trip.endDate) }}</p>
                    <p>Cena: {{ trip.unitPrice }} EUR</p>
                </header>
                <p>{{ trip.desc }}</p>
                <!--            <hr>-->
            </section>

            <footer>
                <div class="booking-controls">
                    <button
                        matRipple
                        [disabled]="getAvailableAmount(trip) == 0 || !loginService.isLoggedIn"
                        [ngClass]="{'btnHidden': getAvailableAmount(trip) == 0}"
                        class="cart mat-elevation-z1" (click)="addToCart(trip)"><span>+</span></button>
                    <span>{{ getAvailableAmount(trip) }}</span>
                    <button
                        matRipple
                        [disabled]="cart.getAmount(trip.id) == 0 || !loginService.isLoggedIn"
                        class="cart mat-elevation-z1" (click)="removeFromCart(trip)"><span>-</span></button>
                </div>

                <app-rating-bar
                    [matTooltip]="'Średnia ocena: ' + trip.rating.getStarsRating() + ' (' + trip.rating.getRatingsCount() + ')'"
                    [starsCount]="trip.rating.getStarsRating()"
                    [canBeRated]="false"
                    color="#fdd835"
                    ratedColor="#e91e63">
                </app-rating-bar>
            </footer>
        </mat-card>
    </main>
</div>
