<main class="mat-typography">
    <h2>Dodaj wycieczkę</h2>

    <mat-form-field appearance="fill">
        <mat-label>Nazwa</mat-label>
        <input
            matInput
            required
            [(ngModel)]="tripData.name"
            [errorStateMatcher]="notEmptyMatcher">
        <mat-error *ngIf="!tripData.isNameValid().isValid">
            {{ tripData.isNameValid().message }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Kraj</mat-label>
        <input
            matInput required
            [(ngModel)]="tripData.country"
            [errorStateMatcher]="notEmptyMatcher">
        <mat-error *ngIf="!tripData.isCountryValid().isValid">
            {{ tripData.isCountryValid().message }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Data rozpoczęcia – data końca</mat-label>
        <mat-hint>DD/MM/YYYY</mat-hint>

        <mat-date-range-input [rangePicker]="picker">
            <input
                matStartDate placeholder="Start date" required
                [(ngModel)]="tripData.startDate"
                [errorStateMatcher]="notEmptyMatcher">
            <input
                matEndDate placeholder="End date" required
                [(ngModel)]="tripData.endDate"
                [errorStateMatcher]="notEmptyMatcher">
        </mat-date-range-input>

        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="!tripData.isStartDateValid().isValid">
            {{ tripData.isStartDateValid().message }}
        </mat-error>

        <mat-error *ngIf="!tripData.isEndDateValid().isValid">
            {{ tripData.isEndDateValid().message }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Cena</mat-label>
        <input
            matInput required type="number" class="price"
            [(ngModel)]="tripData.unitPrice"
            [errorStateMatcher]="unitPriceMatcher">
        <span matTextPrefix>€</span>
        <mat-error *ngIf="!tripData.isUnitPriceValid().isValid">
            {{ tripData.isUnitPriceValid().message }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Ilość</mat-label>
        <input
            matInput required type="number" class="amount"
            [(ngModel)]="tripData.amount"
            [errorStateMatcher]="amountMatcher">
        <mat-error *ngIf="!tripData.isAmountValid().isValid">
            {{ tripData.isAmountValid().message }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Opis</mat-label>
        <textarea
            matInput required
            [(ngModel)]="tripData.desc"
            [errorStateMatcher]="notEmptyMatcher">
        </textarea>
        <mat-error *ngIf="!tripData.isDescValid().isValid">
            {{ tripData.isDescValid().message }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Link do zdjęcia</mat-label>
        <input
            matInput required
            [(ngModel)]="tripData.img"
            [errorStateMatcher]="notEmptyMatcher">
        <mat-error *ngIf="!tripData.isImgValid().isValid">
            {{ tripData.isImgValid().message }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Images</mat-label>

        <mat-chip-grid #chipGrid
            aria-label="Enter images" required
            [formControl]="imagesControl">

            <mat-chip-row *ngFor="let image of tripData.images"
                          (removed)="removeImage(image)"
                          [editable]="true"
                          (edited)="editImage(image, $event)">
                {{ image }}
                <button matChipRemove [attr.aria-label]="'remove ' + image">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>

            <input placeholder="New image..."
                   [matChipInputFor]="chipGrid"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="addImage($event)"/>
        </mat-chip-grid>

        <mat-error *ngIf="!tripData.isImagesValid().isValid">
            {{ tripData.isImagesValid().message }}
        </mat-error>

    </mat-form-field>

    <button id="btn-add-trip" mat-button (click)="onAdd()">Dodaj</button>

</main>
