<main>
    <div id="top">
        <img id="logo" src="assets/main.png" alt="logo">
        <h1>Trips</h1>
        <p>Travel. Everywhere.</p>
    </div>

    <div id="homepage-content">
        <h1>Oferta</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur cum cupiditate, deleniti dolores
            eius est harum laboriosam nihil nostrum officiis praesentium rerum voluptate voluptatem voluptates?
            Asperiores cum earum eligendi eum ex fugiat labore natus nesciunt nulla officia porro quaerat quibusdam,
            quisquam quo quod tempore ut. Consectetur cum distinctio doloribus ea facere numquam provident voluptatem.
            Aliquam animi aut consequuntur deleniti, dicta error excepturi exercitationem illo illum iusto labore
            laboriosam libero magni modi natus nisi nulla perferendis praesentium quae quidem ratione reiciendis, rerum
            tempora temporibus ullam! Accusamus adipisci dicta ea earum, enim et eveniet harum pariatur qui quisquam vel
            veniam? Tempora.</p>

        <h1>Kontakt</h1>

        <div id="homepage-contact">
            <div>
                Skontaktuj się z nami już dziś!
                <br><br>
                <fa-icon [icon]="faPhone"></fa-icon><a href="tel:+48123-456-789">123 456 789</a>
                <br>
                <fa-icon [icon]="faEnvelope"></fa-icon><a href="mailto:dbcongard@gmail.com">dbcongard@gmail.com</a>
                <br>
                <fa-icon [icon]="faLocationDot"></fa-icon><a href="https://www.openstreetmap.org/?mlat=50.06809&mlon=19.91258#map=19/50.06809/19.91258">Kawiory 21, 30-055 Kraków</a>
                <br><br>
                <b>Godziny otwarcia:</b>
                <br>
                pn-pt: 8:00 – 18:00
                <br>
                sb-nd: 12:00 – 16:00
            </div>

            <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=19.910858273506168%2C50.06749401169727%2C19.91430759429932%2C50.06868022704767&amp;layer=mapnik&amp;marker=50.06808712303979%2C19.91258293390274" style="border: 1px solid black"></iframe>
        </div>
    </div>

</main>
