@import "../styles";

.content-main {
    flex-direction: row;
    justify-content: center;

    .role-cell {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 4px;

        p {
            margin: 0 0 0 8px;
        }

        mat-icon {
            scale: 0.65;
        }
    }
}
