mat-dialog-content {
    display: flex;
    flex-direction: column;
}

.price {
    text-align: right;
}

input.price::-webkit-outer-spin-button,
input.price::-webkit-inner-spin-button,
input.amount::-webkit-outer-spin-button,
input.amount::-webkit-inner-spin-button {
    display: none;
}

input.price,
input.amount {
    -moz-appearance: textfield;
}
